<div class="card card-body mx-auto bg-light">
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <div class="form-group input-group">
                <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input  [(ngModel)]="_userRegistrationModel.UserName" name="name"
                     class="form-control" placeholder="User name" type="text">
            
        </div>
        <div class="form-group input-group">
                <div class="row">
                        <div class="col-6">
                        <input  [(ngModel)]="_userRegistrationModel.FirstName" name="UserName"
                            class="form-control" placeholder="First name" type="text">
                        </div>
                        <div class="col-6">
                        <input  [(ngModel)]="_userRegistrationModel.LastName" name="UserName"
                            class="form-control" placeholder="Last name" type="text">
                        </div>
                    </div>
            
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input [(ngModel)]="_userRegistrationModel.Email" name="email" 
            class="form-control" placeholder="Email address" type="email" required>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select"  style="max-width: 120px;">
                <option selected>+971</option>
                <option value="1">+972</option>
                <option value="2">+198</option>
                <option value="3">+701</option>
            </select>
            <input [(ngModel)]="_userRegistrationModel.PhoneNumber" 
            name="phoneNumber" class="form-control" placeholder="Phone number" type="number" required>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" [(ngModel)]="_userRegistrationModel.jobType" >
                <option selected value="1">Designer</option>
                <option value="1">Manager</option>
                <option value="1">Accaunting</option>
            </select>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" [(ngModel)]="_userRegistrationModel.Gender" >
                <option selected value="1">Male</option>
                <option value="1">Femail</option>
            </select>
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input [(ngModel)]="_userRegistrationModel.Password" class="form-control" placeholder="Create password" type="password">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input [(ngModel)]="_userRegistrationModel.ConfirmPassword" 
            class="form-control" placeholder="Repeat password" type="password">
        </div>
        <div class="form-group">
            <button type="submit"
            (click)="AddUser()" class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i> Create Account  </button>
        </div>
        <div *ngIf="isLoginError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error !</strong> {{msgError}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <p class="text-center">Have an account? <a href="">Log In</a> </p>
    </div>