<section class="section-main bg padding-y-sm">
  <div class="container">
      <div class="card">
          <div class="card-body">
              <div id="RegistrationLogInForm">
                  <div class="SignInForm row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="card card-body bg-light">
                              <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Pwd.value)">
                                  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
                                  <p>
                                      <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> &nbsp; Login via Twitter</a>
                                      <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> &nbsp; Login via facebook</a>
                                  </p>
                                  <p class="divider-text">
                                      <span>OR</span>
                                  </p>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                          </div>
                                          <input name="UserName" #UserName ngModel class="form-control" placeholder="Email or login" type="email">
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                          </div>
                                          <input name="Password" #Pwd  ngModel class="form-control" placeholder="******" type="password">
                                      </div>
                                  </div>

                                  <button class="btn btn-NoorCare btn-block mb-2" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                                  <div *ngIf="isLoginError" class="alert alert-danger alert-dismissible fade show" role="alert">
                                      <strong>Error !</strong> Description of Error.
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <a href="#" id="ForgotPassword">Forgot password?</a>
                              </form>
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                          <p class="lead">Register now for <span class="text-success">FREE</span></p>
                          <ul class="list-unstyled" style="line-height: 2">
                              <li><span class="fa fa-check text-success"></span> See all your orders</li>
                              <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                              <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                              <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                              <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                              <li><a href="/read-more/"><u>Read more</u></a></li>
                          </ul>
                          <button class="btn btn-NoorCare btn-block" type="button" id="btn_SignUp"><i class="fas fa-user-plus"></i> Sign up New Account</button>
                      </div>
                  </div>
                  <div class="ResetForm">
                      <div class="row d-flex">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                              <div class="card card-body bg-light">
                                  <form action="/reset/password/">
                                      <input type="email" id="resetEmail" class="form-control mb-2" placeholder="Email address" required="" autofocus="">
                                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                          <strong>Error !</strong> Description of Error.
                                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <button class="btn btn-NoorCare btn-block" type="submit">Reset Password</button>
                                      <a href="#" id="ResetCancel"><i class="fas fa-angle-left"></i> Back</a>
                                  </form>
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                              <p class="lead">Register now for <span class="text-success">FREE</span></p>
                              <ul class="list-unstyled" style="line-height: 2">
                                  <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                  <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                  <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                  <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                  <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                  <li><a href="/read-more/"><u>Read more</u></a></li>
                              </ul>
                              <button class="btn btn-NoorCare btn-block" type="button" id="btn_SignUp"><i class="fas fa-user-plus"></i> Sign up New Account</button>
                          </div>
                      </div>
                  </div> 
                  

                      <h3 class="font-weight-bold text-center mb-3">How You want To join Us..?</h3>

                      <ul class="nav nav-tabs font-weight-bold mb-5" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" data-toggle="tab" href="#User"><i class="far fa-user"></i> User</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#Doctor"><i class="fas fa-user-md"></i> Doctor</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#Hospital"><i class="far fa-hospital"></i> Hospital</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" data-toggle="tab" href="#Pharmacy"><i class="fas fa-mortar-pestle"></i> Pharmacy</a>
                          </li>
                      </ul>
                      <!-- #region Tab panes -->
                      <div class="tab-content">
                          <div id="User" class="container tab-pane active">
                            
                              <div class="row">
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <form #signUpForm="ngForm" (ngSubmit)="OnRegisterSubmit(fullName.value,regEmail.value,regPhone.value,regJobType.value,regPassword.value,regRePassword.value)" class="SignUpForm">
                                      <div class="card card-body mx-auto bg-light">
                                          <h4 class="card-title mt-3 text-center">Create Account</h4>
                                          <p class="text-center">Get started with your free account</p>
                                          <p>
                                              <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> &nbsp; Login via Twitter</a>
                                              <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> &nbsp; Login via facebook</a>
                                          </p>
                                          <p class="divider-text">
                                              <span>OR</span>
                                          </p>
                                          <div class="form-group input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                              </div>
                                              <input name="fullName" #fullName  ngModel class="form-control" placeholder="Full name" type="text">
                                          </div>
                                          <div class="form-group input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                              </div>
                                              <input name="regEmail" #regEmail ngModel class="form-control" placeholder="Email address" type="email">
                                          </div>
                                          <div class="form-group input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                              </div>
                                              <select class="custom-select" style="max-width: 120px;">
                                                  <option selected>+971</option>
                                                  <option value="1">+972</option>
                                                  <option value="2">+198</option>
                                                  <option value="3">+701</option>
                                              </select>
                                              <input name="regPhone" #regPhone  ngModel class="form-control" placeholder="Phone number" type="text">
                                          </div>
                                          <div class="form-group input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"> <i class="fa fa-building"></i> </span>
                                              </div>
                                              <select name="regJobType" #regJobType  ngModel class="form-control">
                                                  <option selected> Select job type</option>
                                                  <option value="1">Designer</option>
                                                  <option value="2">Manager</option>
                                                  <option value="3">Accaunting</option>
                                              </select>
                                          </div>
                                          <div class="form-group input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                              </div>
                                              <input name="regPassword" #regPassword  ngModel class="form-control" placeholder="Create password" type="password">
                                          </div>
                                          <div class="form-group input-group">
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                              </div>
                                              <input name="regRePassowrd" #regRePassword  ngModel class="form-control" placeholder="Repeat password" type="password">
                                          </div>
                                          <div class="form-group">
                                              <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-user-plus"></i> Create Account  </button>
                                          </div>
                                          <p class="text-center">Have an account? <a href="">Log In</a> </p>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                      <p class="lead">Register now for <span class="text-success">FREE</span></p>
                                      <ul class="list-unstyled" style="line-height: 2">
                                          <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                          <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                          <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                          <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                          <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                          <li><a href="/read-more/"><u>Read more</u></a></li>
                                      </ul>
                                      <button class="btn btn-NoorCare btn-block" type="button" id="btn_SignUp"><i class="fas fa-user-plus"></i> Sign up New Account</button>
                                  </div>
                              </div>
                          </div>
                          <div id="Doctor" class="container tab-pane fade">
                              <br>
                              <h3>Doctor</h3>
                              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                          </div>
                          <div id="Hospital" class="container tab-pane fade">
                              <br>
                              <h3>Hospital </h3>
                              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                          </div>
                          <div id="Pharmacy" class="container tab-pane fade">
                              <br>
                              <h3>Pharmacy</h3>
                              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                          </div>
                      </div>
                      <!-- #endregion -->
                      <a href="#" id="SignUpCancel"><i class="fas fa-angle-left"></i> Back</a>
                  
                  <br>
              </div>
          </div>
      </div>
  </div>
</section>