

<section class="section-main bg padding-y-sm">
        <div class="container">
            <div class="card">
                <div class="card-body">
                        <form action="/signup/" class="SignUpForm">
                            <ul class="nav nav-tabs font-weight-bold mb-5" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#Buyer"><i class="far fa-user pr-2"></i>Buyer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Doctor"><i class="fas fa-users pr-2"></i>Buyer And Seller</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Hospital"><i class="fas fa-briefcase pr-2"></i>Health Facility Provider</a>
                                </li>
                            </ul>
                            <!-- #region Tab panes -->
                            <div class="tab-content">
                                <div id="Buyer" class="container tab-pane active">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <app-user-registration></app-user-registration>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <p class="lead">Register now for <span class="text-success">FREE</span></p>
                                            <ul class="list-unstyled" style="line-height: 2">
                                                <li><span class="fa fa-check text-success"></span> See all your orders</li>
                                                <li><span class="fa fa-check text-success"></span> Fast re-order</li>
                                                <li><span class="fa fa-check text-success"></span> Save your favorites</li>
                                                <li><span class="fa fa-check text-success"></span> Fast checkout</li>
                                                <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
                                                <li><a href="/read-more/"><u>Read more</u></a></li>
                                            </ul>
                                            <a class="btn btn-NoorCare btn-block"
                                            [routerLink]="['/login']"><i class="fas fa-user-plus"></i>
                                              Sign in alreday have account</a>
                                        </div>
                                    </div>
                                </div>
                                <div id="BuyerAndSeller" class="container tab-pane fade">
                                    <br>
                                    <h3>Doctor</h3>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                                <div id="HealthFacilityProvider" class="container tab-pane fade">
                                    <br>
                                    <h3>Hospital </h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                            <!-- #endregion -->
                            <a href="#" id="SignUpCancel"><i class="fas fa-angle-left"></i> Back</a>
                        </form>
                        </div>
                        </div></div></section>